*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER SECTION */

.container-sony-logo{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.container-sony-logo img{
    width: 80px;
}

.header-nav{
    background-color: white;
}

.play-logo{
    width: 80%;
}

.list-inline li a{
    text-decoration: none;
    color: black;
}

.chevron-down{
    width: 10px;
}

/* FIRST MAIN SECTION "JUMBO" */


.first-main{
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  margin-top: 80px;
}

.first-main img{
    width: 200px;
}

.jumbo-img{
    width: 100%;
    object-fit: cover;
    height: 600px;
}

/* SECOND MAIN SECTION "CARDS" */

.first-cards img{
    border-radius: 20px;
}

/* THIRD MAIN SECTION "ECCO LA PLAYSTATION 5" */

.h3-size{
    font-size: 3rem;
}

.color-lightblue{
    color: rgb(40, 132, 212);
}

.color-grey{
    color: gray;
}

/* SECOND MAIN SECTION "CARDS" */

