/* HEADER SECTION */

.container-sony-logo{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.container-sony-logo img{
    width: 80px;
}

.fa-chevron-down{
    font-size: 12px;
}

.rotate_chevron:focus .fa-chevron-down{
    transform: rotate(180deg);
}

.hover-PS5:hover{
    background-color: transparent;
    box-shadow: 0 0 8px grey;
}

.lens_width{
    width: 60%;
}

.li_mark{
    margin-right: 2rem;
    list-style: disc;
}

.li_mark a{
    color: black;
    text-decoration: none;
}

.li_mark a:hover{
    color: rgb(40,121, 253);
}

/* BTN ZONE */

.colors_btn{
    box-shadow:  0px 0px 0px 3px transparent;
    border: 3px solid transparent;
}

.black_btn:hover{
   box-shadow:  0px 0px 0px 3px black;
   border: 3px solid white;
}

.red_btn:hover{
   box-shadow:  0px 0px 0px 3px var(--bs-danger);
   border: 3px solid black;
}

.blue_btn:hover{
   box-shadow:  0px 0px 0px 3px var(--bs-primary);
   border: 3px solid white;
}

.grey_btn:hover{
   box-shadow:  0px 0px 0px 3px rgb(211, 211, 211);
   border: 3px solid rgb(190, 188, 187);
}

.grey_btn2:hover{
   box-shadow:  0px 0px 0px 3px rgb(211, 211, 211);
   border: 3px solid rgb(21, 28, 59);
}

/* FIRST MAIN SECTION "JUMBO" */

.first-main{
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  margin-top: 90px;
}

.first-main img{
    width: 200px;
}

.jumbo-img{
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.h2-font-size{
    font-size: 2.5rem;
}

/* SECOND MAIN SECTION "CARDS" */

.first-cards img{
    border-radius: 20px;
    padding: 4px;
    transition: 0.5s;
    animation-timing-function: linear;
}

.first-cards .no_border:hover, .border_blue:hover{
    transform: translateY(-1rem);
}

.border_blue{
    border: 3px solid rgb(40,121, 253);
    border-radius: 20px;
    transition: 0.5s;
    animation-timing-function: linear;
}

/* THIRD MAIN SECTION "ECCO LA PLAYSTATION 5" */

.h3-size{
    font-size: 2.8rem;
}

.color-lightblue{
    color: rgb(40, 132, 212);
}

.color-grey{
    color: gray;
}

/* FOURTH SECTION MAIN "CONSOLE PLAYSTATION 5" */

.accessories{
    color: black;
    text-decoration: none;
    opacity: 0.5;
    border-bottom: 2px solid transparent;
}

.accessories-visible{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid blue;
}

.accessories:hover, .accessories-visible:hover{
    color: black;
    border-bottom: 2px solid blue;
    opacity: 1;
}

.accessories:focus{
    color: black;
    border-bottom: 2px solid blue;
    opacity: 1;
}

.accessories-visible:focus{
    color: black;
}

/* FIFTH SECTION MAIN "IT TAKES TWO" */

.it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.it-takes-two img{
    width: 200px;
}

/* SIXTH SECTION MAIN "NUOVE USCITE CARDS" */

.nuove-uscite-cards{
    background-color: rgb(31, 31, 31);
}

.nuove-uscite-cards img{
    border-radius: 20px;
}

.nuove-uscite-cards a{
    color: white;
    text-decoration: none;
}

/* SEVENTH SECTION MAIN "ESPLORA PLAYSTATION 4" */

.esplora span{
    font-size: 2.3rem;
}

.h4-size{
    font-size: 2.5rem;
}

/* OCTAVE SECTION MAIN "PLAYSTATION PLUS" */

.PlayStation-Plus{
    background-color: rgb(190, 188, 187);
    width: 100%;
}

.PlayStation-Plus .ps-plus{
    width: 300px;
}

.PlayStation-Plus button{
    color: var(--bs-primary);
    background-color: lightgray;
}

.PlayStation-Plus .ps-plus-games{
    width: 350px;
}

/* 10TH SECTION MAIN "PLAYSTATION NOW" */

.PlayStation-Now{
    background-color: rgb(21, 28, 59);
    width: 100%;
}

.PlayStation-Now .ps-plus{
    width: 300px;
}

.PlayStation-Now button{
    background-color: lightgray; 
}

.PlayStation-Now .ps-plus-games{
    width: 350px;
}

/* FOOTER SECTION */

.footer-section{
    background-color: rgb(0, 67, 155);
}

.footer-section .PS-footer{
    width: 80px;
}

.footer-section li{
    list-style-type: none;
}

.footer-section a{
    color: white;
    text-decoration: none;
}

.footer-section .text_visible{
    text-decoration: underline;
}

.footer-section a:hover{
    text-decoration: underline;
}

.globe img{
    width: 20px;
}

.sie-logo{
    width: 150px;
}

/* MEDIA QUERY ZONE */

@media  screen and (min-width:768px) and (max-width:992px){
    .console-PS-5 .btn,.PlayStation-Plus .btn, .PlayStation-Now .btn{
        width: 210px;
    }
}

@media  screen and (min-width:992px) and (max-width:1200px){

    .console-PS-5 .btn,.PlayStation-Plus .btn, .PlayStation-Now .btn{
        width: 210px;
    }

    .PlayStation-Plus .ps-plus-games, .PlayStation-Now .ps-plus-games{
        width: 500px;
    }
}

/* BONUS PERSONALE */

@media  screen and (min-width:1200px){

    .console-PS-5 .btn,.PlayStation-Plus .btn, .PlayStation-Now .btn{
        width: 210px;
    }

    .PlayStation-Plus .ps-plus-games, .PlayStation-Now .ps-plus-games{
        width: 700px;
    }
}

